<div id="savory-menus" class="menus-column">
  <div class="menu-column-title"> Savory pies </div>
  <% @savory_menus.each do |menu| %>
    <%= render menu %>
  <% end %>
</div>
<div id="sweet-menus" class="menus-column">
  <div class="menu-column-title"> Sweet pies </div>
  <% @sweet_menus.each do |menu| %>
    <%= render menu %>
  <% end %>
</div>
