<div id="sweet-menus" class="menus-column">
  <% @sweet_menus.each do |menu| %>
    <%= render menu %>
  <% end %>
</div>
<div id="savory-menus" class="menus-column">
  <% @savory_menus.each do |menu| %>
    <%= render menu %>
  <% end %>
</div>
