// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: Georgia, Times, "Times New Roman", serif;
  margin: 0px;
  height: 100%;
  text-align: center;
}

.valign-outer {
  display: table;
  width: 100%;
}

.main-box {
  display: table-cell;
  height: 500px;
  vertical-align: middle;
}

#top-menu {
  color: saddleBrown;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid saddleBrown;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 2px #333;
  padding-bottom: 10px;
  
  a {
    &#logo {
      font-family: 'Allerta Stencil', sans-serif;
      font-size: 80px;
      text-shadow: 2px 3px #888;
      letter-spacing: 4px;
      &:hover {
        text-decoration: none;
      }
    }
    cursor: pointer;
    color: saddleBrown;
    font-size: 24px;
    display: inline-block;
    text-decoration: none;
    margin-left: 30px;
    margin-right: 30px;

    &:hover {
      text-decoration: underline;
    }
  }
}

#content {
  color: saddleBrown;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.menus-column {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  width: 350px;
  vertical-align: top;
}

.menu-column-title {
  font-weight: bold;
  font-size: 40px;
  margin-top: 5px;
  margin-bottom: 20px;
}


.menu {
  border: 1px solid black;
  padding: 5px;
  margin-bottom: 30px;
}

.menu-name {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

.pie {
  text-align: left;
  padding: 5px;
}

.pie-name {
  font-weight: bold;
}

.pie-vegan, .pie-vegetarian {
  color: limeGreen;
  font-size: 12px;
  font-weight: bold;
}

.pie-price {
  margin-left: 10px;
  font-weight: bold;
}
